__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.coverage
.tox/
.pytest_cache/
.git
.gitignore
*.log
*.sqlite
.DS_Store
.idea/
.vscode/
*.md
docs/
tests/
*.egg-info/
dist/
build/
__tests__
*.ipynb
tflite/